@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.new_fonts {
  color: #222;
  font-family: "Segoe UI", "Noto Sans", Arial, sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nh_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* search section  */
.nh_search_wrapper {
  background: #fe5c4d;
  padding: 1rem 2.5rem;
  gap: 3rem;
}

.nh_search_wrapper .nh_logo {
  width: 120px;
  height: 40px;
}

.nh_search_box {
  width: 100%;
  position: relative;
}

/* Styles for search input */
.nh_search_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  padding-right: 45px;
}

/* Styles for search icon */
.nh_search_icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.nh_detect {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 0.2rem;
  white-space: nowrap;
}

.nh_detect span {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  color: White;
}

.nh_detect img {
  width: 20px;
  height: 28px;
}
.nh_register {
  justify-content: center;
}
.nh_register button {
  background-color: #fe5c4d;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.6875rem;
  padding: 10px 15px;
  cursor: pointer;
}
/* search section ends */

/* header 2 starts  */
.nh_options_wrapper {
 padding-top: 1rem;
 padding-left: 2.5rem;
 padding-right: 2.5rem;
}
.nh_options_wrapper ul {
  justify-content: end;
  gap: 4rem;
}

.nh_options {
  justify-content: center;
  gap: 0.5rem;
}

.nh_options span {
  font-size: 1.44rem;
}

.nh_options img {
  width: 0.9rem;
  height: 0.9em;
}

.nh_options_wrapper ul li {
  list-style: none;
  cursor: pointer;
}
/* header 2 ends */

/* banner section  */
.nh_banner_container {
  background: linear-gradient(
    180deg,
    #f6e5b8 -88.71%,
    rgba(255, 255, 255, 0) 100%
  );
}
.nh_banner_wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nh_register_heading {
  margin-left:2.5rem;
}

.nh_top_text h1,
.nh_top_text span {
  font-size: 2.5rem;
  font-weight: 700;
}

.nh_top_text {
  margin-bottom: 3rem;
}

.nh_top_btn button {
  background-color: #ff1500;
  color: #fff;
  font-weight: 900;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 0.3125rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.map_img{
  z-index: -1;
}

.map_img img {
  width:42rem;
  height: 25rem;
}
/* banner section ends */

/* count section  */
.nh_count_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background: #fff8f7;
  padding: 1.5rem 2.5rem;
  margin-top: -0.65rem;
}

.nh_count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nh_count img {
  width: 4rem;
  height: 4rem;
}

.nh_count_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adjust values as needed */
}

.nh_value,
.nh_plus {
  font-weight: 700;
}

.nh_detail {
  color: #ff1500;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.05em; /* Adjust value as needed */
}

.rolling-number {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.digit {
  display: inline-block;
  transition: transform 0.5s ease-in-out;
  font-size: 2rem;
}

/* count section ends */

/* monetize section  */
.nh_monetize {
  padding: 1rem 2.5rem;
}

.nh_monetize_box,
.nh_register_box,
.nh_training_box {
  border-radius: 0.625rem;
  background: #d4baff;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  width: 33%;
  height:23rem;
}

.nh_register_box {
  background-color: #fee4e8;
}

.nh_monetize_box {
  background-color: #ffeca5;
}

.step_one {
  font-weight: 600;
  font-size: 1.44rem;
}

.register_step {
  font-size: 2rem;
  color: #b5001c;
  font-weight: 700;
}

.nh_monetize_img img {
  height: 144px;
  width: 144px;
}

.step_info {
  font-weight: 600;
  font-size: 0.8rem;
}

.nh_play_wrap {
  padding: 1.5rem 2.5rem;
}
/* monetize section ends */

/* play section  */
.nh_sport_wrapper, .nh_city {
  margin-top: 2rem;
}
.nh_play_wrap h2 {
  font-size: 2rem;
  font-weight: 700;
}

.nh_sport_box {
  width: 22rem;
  height: 17rem;
  border-radius: 1.5rem;
  background: linear-gradient(180deg, #fde7c7 0.06%, #fed2b7 99.94%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}


.nh_sport_box img {
  width: 13rem;
  height: 15rem;
}

.nh_sport_name {
  position: absolute;
  background-color: #fff;
  padding:0.3rem 0.5rem;
  border-radius: 0.3125rem;
  bottom: -18px;
  border: 2px solid #fed2b7;
  left: 50%;
  transform: translateX(-50%);
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nh_sport_name span {
  font-weight: 700;
  font-size: 1rem;
}

.bg_2 {
    background: linear-gradient(180deg, #d6d2ff 0.06%, #d7bbff 99.94%);
  }
  
  .bd_2{
      border: 2px solid #d7bbff;
  }

.bg_3 {
    background: linear-gradient(180deg, #FDE1A2 0.06%, #FEE198 99.94%);
  }
  
  .bd_3{
      border: 2px solid #FEE198;
  }
.bg_4 {
    background: linear-gradient(180deg, #D8FFE7 0.06%, #B8FFBB 99.94%);
  }
  
  .bd_4{
      border: 2px solid #B8FFBB;
  }

/* play section ends */

/* city section  */

.nh_city {
    position: relative;

}

.nh_city img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    display: block; /* Ensures the image behaves as a block element */
    margin: 0 auto; /* Centers the image horizontally */

}

.nh_cityname {
    position: absolute;
    bottom:10px;
    left: 50%; /* Places the left edge of the name at the center */
    transform: translateX(-50%); /* Centers the name horizontally */
    text-align: center; /* Centers the text within the container */
}

.nh_cityname span {
  color:#fff;
  font-size: 1.2rem;
  font-weight: 600;
}

.nh_ad_wrapper{
  margin-top: 2.5rem;
}

.ad_img img{
  height: 18rem;
  width: 100%;
}

.ad_img{
  position: relative;
}

.ad_text{
  position: absolute;
  top:25%;
  right: 2%;
}

.ad_text_one, .ad_text_two{
  color: #A73E00;
font-size: 1.8rem;
font-weight: 600;
}

.ad_text_two{
  font-weight: 700;
}

.ad_text_flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ad_btn{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ad_btn button{
border-radius: 0.4rem;
background: #9A3900;
color:#fff;
padding: 0.4rem 1rem;
cursor: pointer;
border: none;
font-weight: 600;
font-size: 1.2rem;
margin-bottom: 0.5rem;
}

.ad_btn span{
  color: #A73E00;
font-size: 0.75rem;
font-weight: 600;
}


/* city section ends */
